root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,css,js,cshtml,html}]
indent_size = 4

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_primary_constructors = true
dotnet_sort_system_directives_first = true
